Repository DevKarl/ResirkuleringApp, pull requests merged in 2025-03, with the labels that each got.

#15 11 dev server proxy dist path
  .gitignore
  backend/pom.xml
  backend/src/main/java/com/example/demo/Controllers/Controller.java
  backend/src/main/resources/application.properties
  frontend/react-app/vite.config.ts
Labels: ENV ⚙️, BACKEND 🧠

#21 20 lage endepunket for getavfallspunktbyavfallstype
  backend/src/main/java/com/example/demo/Controllers/AvfPunktController.java
  backend/src/main/java/com/example/demo/Controllers/AvfallController.java
  backend/src/main/java/com/example/demo/Entities/Avfall.java
  backend/src/main/java/com/example/demo/Entities/AvfallsType.java
  backend/src/main/java/com/example/demo/Entities/Avfallspunkt.java
  backend/src/main/java/com/example/demo/Entities/AvfallspunktAvfallstype.java
  backend/src/main/java/com/example/demo/Repositories/AvfallspunktRepo.java
  backend/src/main/java/com/example/demo/Service/AvfPunktService.java
  frontend/react-app/src/components/routing/pages/HomePage.tsx
Labels: BACKEND 🧠, DATABASE

#22 Karl/frontend/map scan and plot data from backend
  backend/src/main/java/com/example/demo/Controllers/AvfPunktController.java
  backend/src/main/java/com/example/demo/Controllers/AvfallController.java
  backend/src/main/java/com/example/demo/Controllers/AvfallScannerController.java
  backend/src/main/java/com/example/demo/DTO/ScanAvfallResponse.java
  backend/src/main/java/com/example/demo/Service/AvfallService.java
  frontend/react-app/src/components/Loader.tsx
  frontend/react-app/src/components/barcode-scanner/BarCodeScannerModal.tsx
  frontend/react-app/src/components/barcode-scanner/Scanner.tsx
  frontend/react-app/src/components/barcode-scanner/useFetchCoordsByBarcode.ts
  frontend/react-app/src/components/map/Map.tsx
  frontend/react-app/src/components/routing/pages/HomePage.tsx
  frontend/react-app/src/context/ContextProvider.tsx
  frontend/react-app/src/types/avfallTypes.ts
  frontend/react-app/src/types/index.ts
  frontend/react-app/src/utils/debounce.tsx
  frontend/react-app/src/utils/index.ts
  frontend/react-app/tsconfig.app.json
Labels: FRONTEND 🧙, BACKEND 🧠, DATABASE

#38 Andy login register endpoints
  backend/pom.xml
  backend/src/main/java/com/example/demo/Controllers/BrukerController.java
  backend/src/main/java/com/example/demo/Controllers/LoginController.java
  backend/src/main/java/com/example/demo/DTO/BrukerDTO.java
  backend/src/main/java/com/example/demo/DTO/LoginRequest.java
  backend/src/main/java/com/example/demo/DTO/LoginResponse.java
  backend/src/main/java/com/example/demo/DTO/RegisterRequest.java
  backend/src/main/java/com/example/demo/DTO/RegisterResponse.java
  backend/src/main/java/com/example/demo/Entities/Bruker.java
  backend/src/main/java/com/example/demo/Repositories/BrukerRepo.java
  backend/src/main/java/com/example/demo/Service/BrukerService.java
  backend/src/main/java/com/example/demo/Service/PassordService.java
  frontend/react-app/src/components/API/useFetchCoordsByBarcode.ts
  frontend/react-app/src/components/API/usePostLogin.ts
  frontend/react-app/src/components/API/usePostRegister.ts
  frontend/react-app/src/components/barcode-scanner/BarCodeScannerModal.tsx
  frontend/react-app/src/components/routing/pages/Login.tsx
  frontend/react-app/src/components/routing/pages/Register.tsx
  frontend/react-app/src/components/routing/pages/arrowback.png
  frontend/react-app/src/context/ContextProvider.tsx
  frontend/react-app/src/types/userTypes.ts
Labels: BACKEND 🧠

#47 Markus/refactor scan avfall/avfallspunkt repo
  backend/src/main/java/com/example/demo/Controllers/AvfallScannerController.java
  backend/src/main/java/com/example/demo/Entities/Avfallspunkt.java
  backend/src/main/java/com/example/demo/Entities/AvfallspunktAvfallstype.java
  backend/src/main/java/com/example/demo/Repositories/AvfallspunktRepo.java
  backend/src/main/java/com/example/demo/Service/AvfPunktService.java
Labels: BACKEND 🧠

#40 Henrik/get alle logger for innlogget Bruker
  backend/src/main/java/com/example/demo/Controllers/LoggController.java
  backend/src/main/java/com/example/demo/Entities/Resirkuleringslogg.java
  backend/src/main/java/com/example/demo/Repositories/LoggRepo.java
  backend/src/main/java/com/example/demo/Service/LoggService.java
Labels: BACKEND 🧠

#53 Karl/posthivavfall
  backend/src/main/java/com/example/demo/Controllers/BrukerController.java
  backend/src/main/java/com/example/demo/Controllers/LoggController.java
  backend/src/main/java/com/example/demo/DTO/HivAvfallRequest.java
  backend/src/main/java/com/example/demo/DTO/SuccessResponse.java
  backend/src/main/java/com/example/demo/Entities/Resirkuleringslogg.java
  backend/src/main/java/com/example/demo/Repositories/AvfallRepo.java
  backend/src/main/java/com/example/demo/Repositories/AvfallspunktRepo.java
  backend/src/main/java/com/example/demo/Repositories/LoggRepo.java
  backend/src/main/java/com/example/demo/Service/AvfPunktService.java
  backend/src/main/java/com/example/demo/Service/AvfallService.java
  backend/src/main/java/com/example/demo/Service/LoggService.java
  backend/src/main/java/com/example/demo/Utils/ErrorMsgBuilder.java
  frontend/react-app/src/assets/other/trash-bin.png
  frontend/react-app/src/components/core/CoreButton.tsx
  frontend/react-app/src/components/core/CoreSubheading.tsx
  frontend/react-app/src/components/map/AvfallspunktMarker.tsx
  frontend/react-app/src/components/map/FitBounds.tsx
  frontend/react-app/src/components/map/Map.tsx
  frontend/react-app/src/components/map/findClosestPoint.ts
  frontend/react-app/src/components/routing/pages/HomePage.tsx
  frontend/react-app/src/context/ContextProvider.tsx
  frontend/react-app/src/hooks/API/usePostHivAvfall.ts
  frontend/react-app/src/types/avfallTypes.ts
  frontend/react-app/src/types/userTypes.ts
Labels: FRONTEND 🧙, BACKEND 🧠, DATABASE

#55 Fix deployment: Downgraded Java and Spring Boot Versions
  backend/pom.xml
  backend/src/main/java/com/example/demo/Controllers/BrukerController.java
  backend/src/main/java/com/example/demo/Controllers/LoggController.java
  backend/src/main/java/com/example/demo/DTO/HivAvfallRequest.java
  backend/src/main/java/com/example/demo/DTO/LoginRequest.java
  backend/src/main/java/com/example/demo/DTO/RegisterRequest.java
  backend/src/main/java/com/example/demo/Entities/Avfall.java
  backend/src/main/java/com/example/demo/Entities/AvfallsType.java
  backend/src/main/java/com/example/demo/Entities/Avfallspunkt.java
  backend/src/main/java/com/example/demo/Entities/AvfallspunktAvfallstype.java
  backend/src/main/java/com/example/demo/Entities/Bruker.java
  backend/src/main/java/com/example/demo/Entities/Resirkuleringslogg.java
Labels: BUG 🪳, BACKEND 🧠, DEPLOYMENT 🚀
